@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.content-page-map  {
    display: flex;
    padding: 10px;
    background-color: var(--inverted-bg-color)
}
@media (max-width: 900px) {
    .content-page-map { 
        flex-direction: column;
    }
  }

.page-wrapper {
    // flex-grow: 1;
    padding: 20px;
}
